<p id="notice"><%= notice %></p>

<div class="card cardShow">
  <h5 class="card-header showTitle"><p>
  Category:
  <%= @component.category %>
</h5>
  <div class="card-body">

<p>
  <strong>Name:</strong>
  <%= @component.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @component.value %>
</p>

<p>
  <strong>Size:</strong>
  <%= @component.size %>
</p>

<p>
  <strong>Termination / Mounting style:</strong>
  <%= @component.termination_mounting_style %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @component.quantity %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @component.supplier %>
</p>

<p>
  <strong>Order code:</strong>
  <%= @component.order_code %>
</p>

<div class="mt-5 mb-3">
  <%= link_to 'Edit', edit_component_path(@component), :class => "edit" %> |
  <%= link_to 'Back', components_path, :class => "showBack" %>
</div>

</div>


